<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    {% include 'includes/sidebar_includes/sidebar_branding.html' %}

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
        Panels
    </div>

    <!-- Nav Item - Chat -->
    <li class="nav-item">
        <a class="nav-link" href="/conversation/dashboard/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
    </li>


    {% if 'admin' in user_groups %}
        {% include 'includes/sidebar_includes/sidebar_admin.html' %}
    {% endif %}
    {% if 'provider' in user_groups %}
        {% include 'includes/sidebar_includes/sidebar_provider.html' %}
    {% endif %}
    {% if 'doctor' in user_groups %}
        {% include 'includes/sidebar_includes/sidebar_doctor.html' %}
    {% endif %}
    {% if 'user' in user_groups %}
        {% include 'includes/sidebar_includes/sidebar_user.html' %}
    {% endif %}
    
    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->