<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    {% include 'includes/sidebar_includes/sidebar_branding.html' %}

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- User Specific Sidebar Options -->
    {% include 'includes/sidebar_includes/sidebar_user.html' %}

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Sidebar Toggler (Sidebar) -->
    <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div>

</ul>
<!-- End of Sidebar -->