{% extends "user_base.html" %}


{% block title %}Register{% endblock title %}

{% block body %}

    
<div class="content" >

    <div class="card">

        <div class="card-header" >
            Change Password
        </div>

        <div class="card-input">
            <div> Password <div class="card-input-error-message"></div> </div>
            <div > <input onchange="document.getElementById('confirm_password').value = ''" id="password" class="card-input-in" type="password" > </div>
        </div>

        <div class="card-input">
            <div> Confirm Password <div class="card-input-error-message"></div> </div>
            <div > <input id="confirm_password" class="card-input-in" type="password" > </div>
        </div>

        <button id="change-password-button" style="margin-top:4vh;margin-bottom:2vh;" class="card-button" onclick="onPasswordChange(event)" disabled >Change Password</button>

    </div>



</div>


<script>
    
    var payload_instance = new Payload(
        // config
        {
            
            "new_password": {
                "id": "password",
                "check_with": [
                    Payload.Checks.cannotBeNull(),
                    Payload.Checks.cannotBeBlank(),
                    Payload.Checks.minLength(8),
                    Payload.Checks.maxLength(36),
                    Payload.Checks.containsNumerical(),
                    Payload.Checks.containsLowerCaseAlphabet(),
                    Payload.Checks.containsUpperCaseAlphabet(),
                    Payload.Checks.containsAtleastOne(["@", "#", "$", "%", "^", "&", "+", "=", "!"]),
                ]
            },

            "confirm_password": {
                "id": "confirm_password",
                "check_with": [
                    Payload.Checks.cannotBeNull(),
                    Payload.Checks.cannotBeBlank(),
                    (key, value) => {
                        if (value !== document.getElementById("password").value) return `should match password`
                    }
                ]

            }

        },

        // error callback
        (key_element, errors) => {
            
            let error = null;
            if (errors.length) error = errors[0];
            
            let parent = key_element.parentNode.parentNode;
            let error_message_element = parent.getElementsByClassName("card-input-error-message");
            if (error_message_element && error_message_element.length) {
                error_message_element = error_message_element[0];
            };

            if (error) {
                parent.classList.add("card-input-error");
                if (error_message_element) error_message_element.innerHTML = error;
                
            } else {
                let classList = parent.classList;
                if (classList.contains("card-input-error")) classList.remove("card-input-error");
                if (error_message_element) error_message_element.innerHTML = "";
            };

        },

        // when payload is valid
        (payload) => {
            
            
            let button = document.getElementById("change-password-button");
            if (button) {

                if (payload.isPayloadValid()) button.disabled = false
                else button.disabled = true;
            }
        }

    );


    document.getElementById("__INFO__").addEventListener("InfoHidden", (event) => {
        showLoader();
        setTimeout(() => {window.location.href = window.location.origin + "/user/signin/";}, 1000);
    });


    async function onPasswordChange(event) {
        
        
        if (!payload_instance.isPayloadValid()) {
            payload_instance.setErrors();
            return null;
        }
            
        showLoader();

        let splits = window.location.pathname.split('/');
        let secret = splits[splits.length - 1];

        const payload = payload_instance.getPayload();
        payload["secret"] = secret;

        delete payload["confirm_password"];

        event.target.disabled = true;
        
        const request = new Request(
            window.location.origin + "/user/update-password/",
            "POST",
            {"Content-Type": "application/json"},
            JSON.stringify(payload),
            [
                (response_json) => {
                    
                    setTimeout(() => {
                        hideLoader();
                        payload_instance.clear();
                        setInfo("Password change successfull", "use new credentials to login");
                    }, 1000);
                }
            ],

            [
                { "status": 403, "callbacks": [authenticationhandler, (error_response) => {
                    setTimeout(() => {
                        hideLoader();
                        payload_instance.clear();
                    }, 1000);
                }] },
                { "callbacks": [ defaulthandler, (error_response) => {
                    setTimeout(() => {
                        hideLoader();
                        payload_instance.clear();
                    }, 1000);
                } ] }
            ],

            [
                (response_json) => { 
                    showLoader();
                    event.target.disabled = true; 
                }
            ]
        )
        
        await request.response();
        
    }


</script>

{% endblock body %}




