{% extends "user_base.html" %}


{% block title %}Register{% endblock title %}

{% block body %}

    
<div class="content" >

    <div class="card">

        <div class="card-header" >
            Forgot Password
        </div>

        <div class="card-input">
            <div>
                Email <div class="card-input-error-message"></div>
            </div>
            <div> <input id="email" class="card-input-in" type="email" > </div>
        </div>

        <button id="request-password-change" style="margin-top:4vh;margin-bottom:2vh;" class="card-button" onclick="onPasswordChangeRequest(event)" disabled >Change Password</button>

        <span style="font-size:x-small;margin:0.5vh auto;margin-bottom:2vh;cursor:pointer;" ><a style="color:black;" href="/user/signin" ><u>Sign In</u></a></span>
        <span style="font-size:x-small;margin:0.5vh auto;margin-bottom:2vh;cursor:pointer;" ><a style="color:black;" href="/user/registration" ><u>Register</u></a></span>

    </div>

</div>


<script>

    document.getElementById("__INFO__").addEventListener("InfoHidden", (event) => {
        showLoader();
        setTimeout(() => {window.location.href = window.location.origin + "/user/signin/";}, 1000);
    });


    var payload_instance = new Payload(
        // config
        {
            "email": {
                "id": "email",
                "check_with": [
                    Payload.Checks.cannotBeNull(),
                    Payload.Checks.cannotBeBlank(),
                    Payload.Checks.emailCheck(),
                ],
            }

        },

        // error callback
        (key_element, errors) => {
            
            let error = null;
            if (errors.length) error = errors[0];
            
            let parent = key_element.parentNode.parentNode;
            let error_message_element = parent.getElementsByClassName("card-input-error-message");
            if (error_message_element && error_message_element.length) {
                error_message_element = error_message_element[0];
            };

            if (error) {
                parent.classList.add("card-input-error");
                if (error_message_element) error_message_element.innerHTML = error;
                
            } else {
                let classList = parent.classList;
                if (classList.contains("card-input-error")) classList.remove("card-input-error");
                if (error_message_element) error_message_element.innerHTML = "";
            };

        },

        // when payload is valid
        (payload) => {
            
            
            let button = document.getElementById("request-password-change");
            if (button) {

                if (payload.isPayloadValid()) button.disabled = false
                else button.disabled = true;
            }
        }

    );


    async function onPasswordChangeRequest(event) {
        
        if (!payload_instance.isPayloadValid()) {
            payload_instance.setErrors();
            return null;
        }


        showLoader();

        let payload = payload_instance.getPayload();

        const request = new Request(
            window.location.origin + "/user/request-password-change/",
            "POST",
            {"Content-Type": "application/json"},
            JSON.stringify(payload),
            [
                (response_json) => {
                    
                    setTimeout(() => {
                        hideLoader();
                        payload_instance.clear();
                        setInfo("Reset Password Link Sent", "Password reset link sent, click on the link to change password");
                    }, 1000);
                }
            ],

            [
                { "status": 403, "callbacks": [authenticationhandler, (error_response) => {
                    setTimeout(() => {
                        hideLoader();
                        payload_instance.clear();
                    }, 1000);
                }] },
                { "callbacks": [ defaulthandler, (error_response) => {
                    setTimeout(() => {
                        hideLoader();
                        payload_instance.clear();
                    }, 1000);
                } ] }
            ],

            [
                (response_json) => { 
                    showLoader();
                    event.target.disabled = true; 
                }
            ]
        )
        
        await request.response();

    }



</script>


{% endblock body %}




