{% extends "user_base.html" %}


{% block title %}Register{% endblock title %}

{% block body %}

    
<div class="content" >


    <div class="card">

        <div class="card-header" >
            Email Verified
        </div>
        
        <div class="card-text">
            Your email is verified click below to go to home page.
        </div>

        <span style="font-size:x-small;margin:1vh auto;margin-bottom: 2vh;cursor:pointer;" ><a style="color:black;" href="/user/home" ><u>Lets go Home</u></a></span>

    </div>



</div>


{% endblock body %}




