{% extends "user_base.html" %}


{% block title %}Register{% endblock title %}

{% block body %}

    
<div class="content" >


    <div class="card">

        <div class="card-header" >
            404 Page Not Found
        </div>

        <div class="card-text">
            This page does not exist.
        </div>

            <span style="font-size:x-small;margin:1vh auto;margin-bottom: 2vh;cursor:pointer;" ><a style="color:black;" href="/user/home" ><u>Lets go Home!</u></a></span>

    </div>



</div>


{% endblock body %}




