{% extends 'base.html' %}
{% load static %}

{% block page_title %}{% endblock %}
{% block custom_header %}{% endblock %}


<!-- Body block -->
{% block body %}

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        {% include 'includes/sidebar.html' with sidebar_type="doctor" %}

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                {% include 'includes/topbar.html' %}
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    {% block page_content_fluid %}{% endblock %}

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Copyright -->
            {% include 'includes/copyright.html' %}

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->

</body>

{% endblock %}

{% block custom_scripts %}
<script src="{% static 'js/logged_global.js' %}"></script>
{% endblock %}