{% load static %}

<!-- User Specific Sidebar Items -->
 
<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Appointments
</div>

<!-- Nav Item - Dashboard -->
<li class="nav-item">
    <a class="nav-link" href="/conversation/dr_dashboard/">
        <i class="fas fa-fw fa-tachometer-alt"></i>
        <span>Dashboard</span></a>
</li>

<!-- Nav Item - Chat -->
<li class="nav-item">
    <a class="nav-link" href="/conversation/dr_calander/">
        <i class="fas fa-fw fa-calendar-alt"></i>
        <span>Calander</span></a>
</li>

<!-- Nav Item - Chat -->
<li class="nav-item">
    <a class="nav-link" href="/conversation/dr_circle/">
        <i class="fas fa-fw fa-spinner"></i>
        <span>Circle</span></a>
</li>