{% load static %}

<!-- User Specific Sidebar Items -->
 
<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Products
</div>

<!-- Nav Item - Chat -->
<li class="nav-item">
    <a class="nav-link" href="/conversation/chat/">
        <i class="fas fa-fw fa-comment-medical"></i>
        <span>Chat</span></a>
</li>

<!-- Nav Item - Chat -->
<li class="nav-item">
    <a class="nav-link" href="/conversation/connect/">
        <i class="fas fa-fw fa-link"></i>
        <span>Connect</span></a>
</li>


<!-- Divider -->
<hr class="sidebar-divider">

<!-- Heading -->
<div class="sidebar-heading">
    Tasks
</div>

<!-- Nav Item - Pages Collapse Menu -->
<li class="nav-item">
    <a class="nav-link" href="/conversation/goals/">
        <i class="fas fa-fw fa-bullseye"></i>
        <span>Goals</span></a>
</li>

<!-- Nav Item - Utilities Collapse Menu -->
<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
        aria-expanded="true" aria-controls="collapseUtilities">
        <i class="fas fa-fw fa-bolt"></i>
        <span>Actions</span>
    </a>
    <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
        data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Actions Taken:</h6>
            <a class="collapse-item" href="#">Active</a>
            <a class="collapse-item" href="#">Archived</a>
        </div>
    </div>
</li>

<!-- 
<hr class="sidebar-divider">

<div class="sidebar-heading">
    Data
</div>


<li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePages"
        aria-expanded="true" aria-controls="collapsePages">
        <i class="fas fa-fw fa-folder"></i>
        <span>History</span>
    </a>
    <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Generated:</h6>
            <a class="collapse-item" href="#">Conversations</a>
            <a class="collapse-item" href="#">Indicators</a>
            <a class="collapse-item" href="#">Summaries</a>
            <div class="collapse-divider"></div>
            <h6 class="collapse-header">Reported:</h6>
            <a class="collapse-item" href="#">Documents</a>
            <a class="collapse-item" href="#">API Integrations</a>
        </div>
    </div>
</li>


<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-fw fa-user-md"></i>
        <span>Doctors</span></a>
</li>


<li class="nav-item">
    <a class="nav-link" href="#">
        <i class="fas fa-fw fa-hand-holding-heart"></i>
        <span>Packages</span></a>
</li> -->